In [ ]:
extract_a = ('''
  SELECT cd_categoria, nm_categoria, vl_valor_por_dia
  FROM categoria;
             
  SELECT cd_cliente, nm_nome, ds_tipo, cd_cnpj_cpf, ds_endereco, nu_telefone, 
  FROM cliente;
             
  SELECT locacao, cliente, fbd_column_3
  FROM locacao;
             
  SELECT categoria, cliente, fbd_column_3
  FROM patio;
             
  SELECT categoria, cliente, fbd_column_3
  FROM reserva;
             
  SELECT categoria, cliente, fbd_column_3
  FROM veiculo;
''')