In [1]:
extract_ours = ('''
  SELECT cd_categoria, nm_categoria, vl_valor_por_dia
  FROM categoria;
             
  SELECT cd_cliente, nm_nome, ds_tipo, cd_cnpj_cpf, ds_endereco, nu_telefone, ds_email, nu_cnh, dt_validade_cnh 
  FROM cliente;
             
  SELECT cd_locacao, dt_data_retirada_prevista, dt_data_retirada_realizada, dt_data_devolucao_prevista, dt_data_retirada_realizada, cd_patio_saida, cd_patio_entrada, cd_cliente, ds_protecao_de_farol, ds_protecao_de_vidro
  FROM locacao;
             
  SELECT cd_patio, nm_patio
  FROM patio;
             
  SELECT cd_reserva, dt_reserva, dt_entrega, dt_devolucao, cd_cliente, cd_carro, cd_situacao
  FROM reserva;
             
  SELECT cd_carro, nm_marca, nm_motor, ds_mecanizacao, nm_modelo, ds_ar_condicionado, nm_cor, nu_altura, ds_foto, nu_placa, nu_chassi, nm_combustivel, nm_pneu, cd_categoria, nu_pressao_pneu
  FROM veiculo;
''')

extract_m = ('''
  SELECT id_cliente, nome, tipo, cpf_cnpj, endereco, telefone, email, cnh, validade_cnh 
  FROM cliente;
             
  SELECT id_grupo, nome, faixa_valor_diaria
  FROM grupo_categoria;
             
  SELECT id_locacao, id_reserva, data_retirada, data_devolucao, patio_saida, patio_chegada, valor_total
  FROM locacao;
             
  SELECT id_patio, nome, endereco
  FROM patio;
             
  SELECT id_reserva, id_cliente, id_veiculo, data_reserva, data_retirada, data_devolucao, estado
  FROM reserva;
             
  SELECT id_carro, placa, marca, modelo, cor, grupo_categoria, ar_condicionado, dimensoes, foto_url
  FROM veiculo;
''')

extract_a = ('''
  SELECT id_cliente, nome, tipo_cliente, documento, id_endereco, telefone, email, data_nascimento, cnh, data_validade_cnh, cnpj_empresa 
  FROM clientes;
             
  SELECT id_endereco, rua, numero, bairro, cidade, estado, cep, complemento 
  FROM endereco;
             
  SELECT id_grupo, nome_grupo
  FROM grupo_veiculos;
             
  SELECT id_locacao, id_reserva, data_devolucao_prevista, data_devolucao_realizada, valor_aluguel, patio_retirada, patio_devolucao, status_locacao
  FROM locacoes;
             
  SELECT id_prontuario, id_veiculo, data_registro, descricao_manutencao, estado_conservacao, pressao_pneus, nivel_oleo
  FROM prontuario;
             
  SELECT id_patio, id_endereco, capacidade
  FROM patios;
             
  SELECT id_reserva, id_cliente, id_veiculo, data_reserva, data_inicio, data_fim, status_reserva, patio_retirada, patio_devolucao
  FROM reservas;
             
  SELECT id_carro, id_grupo, placa, marca, modelo, cor, ar_condicionado, mecanizacao, cadeirinha, link_fotos, assentos, tamanho_mala, carga_maxima
  FROM veiculos;
''')

extract_c = ('''
  SELECT id_aluguel, dt_retirada, dt_devolucao_prevista, data_devolucao_realizada, valor_inicial, valor_final, fk_estado_entrega, fk_estado_devolucao, fk_cliente, fk_veiculo, fk_patio_retirada, fk_patio_devolucao, fk_protecoes_adicionais
  FROM aluguel;
             
  SELECT id_bairro, nome_bairro, fk_cidade
  FROM bairro;
             
  SELECT id_cidade, nome_cidade, fk_estado
  FROM cidade;
             
  SELECT id_cliente, nome, tipo_pessoa, cnpj_cpf, cnh, dt_exp_cnh, telefone, email, fk_endereco
  FROM cliente;
             
  SELECT id_endereco, logradouro, numero, complemento, cep, fk_bairro
  FROM endereco;
             
  SELECT id_estado, nome_estado
  FROM estado;
             
  SELECT id_estado_veiculo, nome_estado_veiculo
  FROM estadoveiculo;
             
  SELECT id_categoria, nome_categoria
  FROM grupo;
             
  SELECT id_marca, nome_marca
  FROM marca;
             
  SELECT id_modelo, nome_modelo, marca_id_marca
  FROM modelo;
             
  SELECT id_patio, nome_patio, fk_endereco
  FROM patio;
             
  SELECT id_protecao, nome_protecao, valor_protecao
  FROM protecaoadicional;
             
  SELECT id_protecao_adicional_aluguel, id_protecao, id_aluguel 
  FROM protecaoadicionalaluguel;
             
  SELECT id_reserva, dt_inicio, dt_fim, fk_status, fk_cliente, fk_veiculo, fk_patio
  FROM reserva;
             
  SELECT id_tipo_mecanizacao, nome_tipo_mecanizacao 
  FROM tipomecanizacao;
             
  SELECT id_tipo_status, nome_tipo_status
  FROM tipostatus;
             
  SELECT id_carro, placa, chassis, cor, fk_mecanizacao, ar_condicionado, acessorios_extras, prontuario, url_fotos, fk_modelo, fk_categoria
  FROM veiculo;
''')