In [4]:
import psycopg2

In [1]:
extract_ours = ('''
  SELECT *
  FROM categoria;
             
  SELECT *
  FROM cliente;
             
  SELECT *
  FROM locacao;
             
  SELECT *
  FROM patio;
             
  SELECT *
  FROM reserva;
             
  SELECT *
  FROM veiculo;
''')

extract_m = ('''
  SELECT *
  FROM cliente;
             
  SELECT *
  FROM grupo_categoria;
             
  SELECT *
  FROM locacao;
             
  SELECT *
  FROM patio;
             
  SELECT *
  FROM reserva;
             
  SELECT *
  FROM veiculo;
''')

extract_a = ('''
  SELECT *
  FROM clientes;
             
  SELECT *
  FROM endereco;
             
  SELECT *
  FROM grupo_veiculos;
             
  SELECT *
  FROM locacoes;
             
  SELECT *
  FROM prontuario;
             
  SELECT *
  FROM patios;
             
  SELECT *
  FROM reservas;
             
  SELECT *
  FROM veiculos;
''')

extract_f = ('''
  SELECT *
  FROM cliente;
             
  SELECT *
  FROM condutor;
             
  SELECT *
  FROM locacao;
             
  SELECT *
  FROM patio;
             
  SELECT *
  FROM reserva;
             
  SELECT *
  FROM veiculo;
''')

class SqlQuery:
  def __init__(self, extract_query):
    self.extract_query = extract_query

ours_query = SqlQuery(extract_ours)
m_query = SqlQuery(extract_m)
a_query = SqlQuery(extract_a)
f_query = SqlQuery(extract_f)

database_extract_queries = [ours_query, m_query, a_query, f_query]