In [4]:
import psycopg2

In [1]:
extract_ours = ('''
  SELECT cd_categoria, nm_categoria, vl_valor_por_dia
  FROM categoria;
             
  SELECT cd_cliente, nm_nome, ds_tipo, cd_cnpj_cpf, ds_endereco, nu_telefone, ds_email, nu_cnh, dt_validade_cnh 
  FROM cliente;
             
  SELECT cd_locacao, dt_data_retirada_prevista, dt_data_retirada_realizada, dt_data_devolucao_prevista, dt_data_retirada_realizada, cd_patio_saida, cd_patio_entrada, cd_cliente, ds_protecao_de_farol, ds_protecao_de_vidro
  FROM locacao;
             
  SELECT cd_patio, nm_patio
  FROM patio;
             
  SELECT cd_reserva, dt_reserva, dt_entrega, dt_devolucao, cd_cliente, cd_carro, cd_situacao
  FROM reserva;
             
  SELECT cd_carro, nm_marca, nm_motor, ds_mecanizacao, nm_modelo, ds_ar_condicionado, nm_cor, nu_altura, ds_foto, nu_placa, nu_chassi, nm_combustivel, nm_pneu, cd_categoria, nu_pressao_pneu
  FROM veiculo;
''')

extract_m = ('''
  SELECT id_cliente, nome, tipo, cpf_cnpj, endereco, telefone, email, cnh, validade_cnh 
  FROM cliente;
             
  SELECT id_grupo, nome, faixa_valor_diaria
  FROM grupo_categoria;
             
  SELECT id_locacao, id_reserva, data_retirada, data_devolucao, patio_saida, patio_chegada, valor_total
  FROM locacao;
             
  SELECT id_patio, nome, endereco
  FROM patio;
             
  SELECT id_reserva, id_cliente, id_veiculo, data_reserva, data_retirada, data_devolucao, estado
  FROM reserva;
             
  SELECT id_carro, placa, marca, modelo, cor, grupo_categoria, ar_condicionado, dimensoes, foto_url
  FROM veiculo;
''')

extract_a = ('''
  SELECT id_cliente, nome, tipo_cliente, documento, id_endereco, telefone, email, data_nascimento, cnh, data_validade_cnh, cnpj_empresa 
  FROM clientes;
             
  SELECT id_endereco, rua, numero, bairro, cidade, estado, cep, complemento 
  FROM endereco;
             
  SELECT id_grupo, nome_grupo
  FROM grupo_veiculos;
             
  SELECT id_locacao, id_reserva, data_devolucao_prevista, data_devolucao_realizada, valor_aluguel, patio_retirada, patio_devolucao, status_locacao
  FROM locacoes;
             
  SELECT id_prontuario, id_veiculo, data_registro, descricao_manutencao, estado_conservacao, pressao_pneus, nivel_oleo
  FROM prontuario;
             
  SELECT id_patio, id_endereco, capacidade
  FROM patios;
             
  SELECT id_reserva, id_cliente, id_veiculo, data_reserva, data_inicio, data_fim, status_reserva, patio_retirada, patio_devolucao
  FROM reservas;
             
  SELECT id_carro, id_grupo, placa, marca, modelo, cor, ar_condicionado, mecanizacao, cadeirinha, link_fotos, assentos, tamanho_mala, carga_maxima
  FROM veiculos;
''')

extract_f = ('''
  SELECT clienteid, nome, cpf_cnpj, endereco, telefone, email, tipo
  FROM cliente;
             
  SELECT condutorid, clienteid, nome, cnh, dataexpiracaocnh
  FROM condutor;
             
  SELECT locacaoid, reservaid, clienteid, veiculoid, condutorid, retirada, devolucaoprevista, devolucaorealizada, patioretiradaid, patiodevolucaoid, estadoentrega, estadodevolucao, protecoesadicionais, valorinicial, valorfinal
  FROM locacao;
             
  SELECT patioid, nome, endereco
  FROM patio;
             
  SELECT reservaid, datareserva, datainicio, datafim, grupo, clienteid, veiculoid, status, observacoes
  FROM reserva;
             
  SELECT veiculoid, placa, marca, modelo, cor, grupo, arcondicionado, cadeirinha, chassis, dimensoes, acessorios, fotos, estadoconservacao, revisoes, caracteristicasrodagemseguranca, mecanizacao
  FROM veiculo;
''')

class SqlQuery:
  def __init__(self, extract_query):
    self.extract_query = extract_query

ours_query = SqlQuery(extract_ours)
m_query = SqlQuery(extract_m)
a_query = SqlQuery(extract_a)
f_query = SqlQuery(extract_f)

database_extract_queries = [ours_query, m_query, a_query, f_query]