In [ ]:
transform_m = """
    SELECT 
        
    FROM cliente